body{background-color: floralwhite;	
}

.header{
	background-color: black;
	border-bottom: 2px solid orange;
}

.btn-pesquisa{
	background-color: orange;
	color: black;
	font-weight: bold;
	border: 3px solid;
	border-radius: 26px;
}

.f-18{
	font-size: 18px;
}

.linha-topo{
	border-top: 2px solid;
	padding-top: 1rem;
}

.f-22{
	font-size: 22px;
}

.btn-acesso{
	border-radius: 26px;
	padding: 1rem;
}

.btn-comprar{
    background: #fba71b;
    color: black;
    border-radius: 4px;
    font-weight: bold;
}

a{
    text-decoration: none!important;
}

.btn-admin{
	background-color: #2DACF8;
	color:white;
}


.w180{
	width: 180px!important;
}

.w180 a{
	color:inherit;
}

.radio tr{
	display: inline-grid;
	
}

.bt-0{
	bottom:0;
}

.w180 a:hover{
	color:#2DACF8;
}

.ml-25{
    margin-left: 25%;
}

.ml-17{
    margin-left: 17%;
}

.imgTab{
    width: 30%;
    height: 30%;
}


.calendario{
	position: absolute;
	bottom: 14%;
	right: 15%;
	color:#0069d9 !important
}

table tr td{
    text-align: center;
}

.site-header a{
     color: #0069d9 !important
}

.w-30{
	width: 30%;
}

.w-min{
	width: min-content;
}