body{
    background-color: rgb(39, 48, 51);
    color: whitesmoke;
}

.btn-comprar{
    background: #fba71b;
    color: #fff;
    border-radius: 4px;
    font-weight: bold;
}

a{
    text-decoration: none!important;
}



.ml-25{
    margin-left: 25%;
}

.ml-17{
    margin-left: 17%;
}

table  tr td img{
    width: 30%;
    height: 30%;
}

table  tr td{
    text-align: center;
}
table tr{
    color: white
    ;
}

.site-header a{
    color: #1e7e34 !important
}

.w-30{
	width: 30%;
}

.w-min{
	width: min-content;
}